.modified-value-en div::after {
    content: ' - changed*';
    color: #00FFFF;
    font-weight: bold;
    font-style: oblique;
}

.modified-value-es div::after {
    content: ' - modificado*';
    color: #00FFFF;
    font-weight: bold;
    font-style: oblique;
}