/* ---
    Image rotation
--- */

#ffp_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    image-orientation: unset;
}

.rotate-0 {
    -webkit-transform:rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.rotate-90 {
    -webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    object-fit: contain;
}
.rotate-180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-270 {
    -webkit-transform:rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}